// Fixed-width container variables
$container-width: 1180px !default;
$grid-gutter:     20px !default;

// Breakpoint widths
$width-xs: 0 !default;
// Small screen / phone
$width-sm: 544px !default;
// Medium screen / tablet
$width-md: 768px !default;
// Large screen / desktop
$width-lg: 1200px !default;
// Extra large screen / wide desktop
$width-xl: 1480px !default;