<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<head>
    {{ partial "head.html" . }}
</head>

<body data-theme="auto">
    {{ partial "scripts-front.html" . }}
    {{ partial "header.html" . }}

    <main>
        <div class="container-lg clearfix">
            <!-- list -->
            <div class="col-12 col-md-9 float-left content">
                <div class="post-content markdown-body">
                    <h3><span class="marker_pink">Hello there! I'm Masataka Kashiwagi</span> &#x1f44b;</h3>
                    <p>今は，機械学習エンジニアとして，レコメンドエンジンの開発やMLOpsの仕組み作りなどを担当しています．データ分析・機械学習を活用して，より良いユーザー体験を生み出したり，サービスをグロースすることに力を入れています．</p>
                    <p>
                        <h4>SNS</h4>
                        <li><i class="fab fa-twitter"></i>&nbsp;&nbsp;<a href="https://twitter.com/asteriam_fp" target="_blank" rel="noopener" class="top-page-link"><b>Twitter</b></a></li>
                        <li><i class="fab fa-github"></i>&nbsp;&nbsp;<a href="https://github.com/masatakashiwagi" target="_blank" rel="noopener" class="top-page-link"><b>Github</b></a></li>
                        <li><i class="fab fa-linkedin"></i>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/masatakakashiwagi/" target="_blank" rel="noopener" class="top-page-link"><b>Linkedin</b></a></li>
                        <li><i class="fab fa-kaggle"></i>&nbsp;&nbsp;<a href="https://www.kaggle.com/masatakashiwagi" target="_blank" rel="noopener" class="top-page-link"><b>Kaggle</b></a></li>
                    </p>
                    <p>
                        <h4>Profile</h4>
                        <li>出身地: 大阪府&#x1F1EF;&#x1F1F5;</li>
                        <li>趣味: 旅行&#x1f30f; &nbsp;&&nbsp;音楽&#x1f3a7; &nbsp;&&nbsp;コーヒー&#x2615;</li>
                    </p>
                    <p>旅行は単身の時に，バックパッカーとして年に数回休暇を取って海外に行ってました．近くというのもあって，アジアに行くことが多く，成長途中の国に居る人の熱気や勢い，雰囲気などが好きで行っていました．他には，Progressive Houseというジャンルの曲を聞くのが好きで，大学の時から彼此10年以上メインで聞いてます．昔はPCDJでMixを作って公開していました．また最近は友人と毎週Podcastを配信したりもしています．それ以外では，妻の影響で沖縄&#x1f33a;の食べ物や環境が好きになり，将来は住みたいなと思ったりもしています．</p>

                    <h3><span class="marker_pink">Articles</span> &#x1f4d6;</h3>
                    <h4>Most recent</h4>
                    <dl class="post-content">
                        {{ range first 5 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections)}}
                        <dt>
                            <span class="date">
                                {{ .Date.Format "2006-01-02" }}
                            </span>
                        </dt>
                        <dd>
                            <a href="{{ .Permalink }}" class="top-page-link"><b>{{ .Title }}</b></a>
                        </dd>
                    {{ end }}
                        <p>
                            <!-- <a href="{{.Site.Params.baseURL}}post/" class="_btn"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;他の記事を読む</a> -->
                            <a href="{{.Site.Params.baseURL}}post/" class="btn-article btn-radius-solid">他の記事を読む&nbsp;&nbsp;<i class="fas fa-angle-right fa-position-right"></i></a>
                        </p>
                    </dl>
                </div>
            </div>
            {{ partial "sidebar.html" . }}
        </div>
        {{ partial "components.html" . }}
    </main>
    {{ partial "footer.html" . }}
    {{ partial "scripts-end.html" . }}
</body>

</html>
